.film-card {
    box-sizing: border-box;
    display: grid;
    grid-template-areas: "img info"
                         "overview overview"
                         "rating rating";
  
    grid-template-rows: auto auto 40px;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }
  
  @media(min-width: 480px) {
   .film-card {
    grid-template-areas: "img info"
                         "img overview"
                         "img rating";
    grid-template-rows: 1fr 1fr 15%;
    grid-template-columns: 2fr 4fr;
    grid-gap: 5px;
    grid-column-gap: 10px;
    max-height: 300px;
    padding: 10px;
   }
  }
  
  .film-card__img-container {
    grid-area: img;
  }
  
  @media(min-width: 768px) {
    .film-card__img {
    min-height: 280px;
   }
  }
  
  
  .film-card__description {
    grid-area: info;
  }
  
  .film-card__rating {
    display: flex;
    justify-content: space-between;
  }
  
  .film-card__title {
    width: 65%;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    font-weight: normal;
  }
  
  .film-card__voting {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border: 3px solid #000000;
    border-radius: 50%;
  }
  
  .film-card__voting--low {
    border-color: #E90000;
  }
  
  .film-card__voting--middle {
    border-color: #E97E00;
  }
  
  .film-card__voting--high {
    border-color: #E9D100;
  }
  
  .film-card__voting--top {
    border-color:#66E900;
  }
  
  .film-card__release {
    font-size: 15px;
    line-height: 22px;
  }
  
  .film-card__genre {  
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.65);
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .film-card__genre-item {
    margin-right: 8px;
    margin-bottom: 8px;
    padding: 1px 3px;
    background: #FAFAFA;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
  }
  
  .film-card__overview {
    margin: 0;
    grid-area: overview;
    font-size: 14px;
  }
  
  .film-card__stars {
    display: flex;
    justify-content: flex-end;
    grid-area: rating;
  }