@import 'antd/dist/antd.css';

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-Regular.woff2') format('woff2'),
       url('./fonts/Inter-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px; 
};


body { 
  font-family: 'Inter', Arial, sans-serif;
}

img {
  max-width: 100%;
  max-height: 100%;
  }

@media(min-width: 320px) {
  .container {
    width: 100%;
    padding: 10px;
  }
}

@media(min-width: 768px) {
  .container {
  margin: 0 auto;
  padding: 0;
  padding-bottom: 20px;
  width: 768px;
  background-color: #FFFFFF;
  box-sizing: border-box;
  }
}

@media(min-width: 1000px) {
  .container {
  width: 1000px;
  }
}

.search {
  width: 100%;
  margin-bottom: 32px; 
  font-size: 18px;
  border: 1px solid #D9D9D9;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px;
  outline: none;
}

.search:active, 
.search:hover,
.search:focus {
  border: 2px solid #1890FF;
}

.films {
  display: flex;
  justify-content: center; 
  box-sizing: border-box;
}

.films-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Inter', Arial, sans-serif;
  list-style: none;
}

.films-list__item {
  margin-bottom: 35px;
}

@media(min-width: 768px) {
  .films-list__item {
    width: 70%;
    margin: 0 auto 35px;
  }
}

@media(min-width: 1000px) {
  .films-list__item {
    width: 49%;
  }
}

.film-card {
  box-sizing: border-box;
  display: grid;
  grid-template-areas: "img info"
                       "overview overview"
                       "rating rating";

  grid-template-rows: auto auto 40px;
  grid-template-columns: 1fr 2fr;
  grid-gap: 10px;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

@media(min-width: 480px) {
 .film-card {
  grid-template-areas: "img info"
                       "img overview"
                       "img rating";
  grid-template-rows: 1fr 1fr 15%;
  grid-template-columns: 2fr 4fr;
  grid-gap: 5px;
  grid-column-gap: 10px;
  max-height: 300px;
  padding: 10px;
 }
}

.film-card__img-container {
  grid-area: img;
}

@media(min-width: 768px) {
  .film-card__img {
  min-height: 280px;
 }
}


.film-card__description {
  grid-area: info;
}

.film-card__rating {
  display: flex;
  justify-content: space-between;
}

.film-card__title {
  width: 65%;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  font-weight: normal;
}

.film-card__voting {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border: 3px solid #000000;
  border-radius: 50%;
}

.film-card__voting--low {
  border-color: #E90000;
}

.film-card__voting--middle {
  border-color: #E97E00;
}

.film-card__voting--high {
  border-color: #E9D100;
}

.film-card__voting--top {
  border-color:#66E900;
}

.film-card__release {
  font-size: 15px;
  line-height: 22px;
}

.film-card__genre {  
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.65);
  margin: 0;
  padding: 0;
  list-style: none;
}

.film-card__genre-item {
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 1px 3px;
  background: #FAFAFA;
  border: 1px solid #D9D9D9;
  border-radius: 2px;
}

.film-card__overview {
  margin: 0;
  grid-area: overview;
  font-size: 14px;
}

.film-card__stars {
  display: flex;
  justify-content: flex-end;
  grid-area: rating;
}

.ant-alert {
  margin-top: 100px;
  width: 500px;
}

.ant-alert .ant-alert-description {
  font-size: 20px;
  font-style: italic;
}

.ant-spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
}

.ant-spin .ant-spin-dot {
  font-size: 110px;
}

.ant-spin-dot .ant-spin-dot-item {
  width: 30px;
  height: 30px;
}

.ant-spin-text {
  margin-top: 20px;
}

.ant-pagination {
  display: flex;
  justify-content: center;
}

.container .ant-pagination {
  margin-top: 40px;
} 

