@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-Regular.woff2') format('woff2'),
       url('./fonts/Inter-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px; 
}


body { 
  font-family: 'Inter', Arial, sans-serif;
}

img {
  max-width: 100%;
  max-height: 100%;
}



